.header {
    height: 30px;
    width: 100%;
    background-color: black;
    text-align: left;
}

.header li {
    margin: 5px;
    float: left;
    text-decoration: none;
    list-style: none;
}

.header li a {
    padding: 5px 5px;
    text-decoration: none;
    color: white;
}

.container {
    max-width: 1170px;
    width: 100%;
}

.card0 img {
    width: 100%;
}

.card0 h7 {
    color: blue;
}

.leftcolumn {
    height: 100%;
    width: 80%;
    background: white;
    float: left;
    margin-left: 70px;
}

.rightcolumn {
    width: 10%;
    background: white;
    float: right;
}

.rightcolumn .columns .card h3 {
    width: auto;
    margin-left: 20px;
    padding-top: 10px;
}

.rightcolumn .columns .card .search {
    width: auto;
    margin-left: 20px;
}

.card {
    background-color: rgb(240, 240, 240);
    height: 100px;
    width: 455px;
    border-color: black;
}

.card1 {
    background-color: rgb(240, 240, 240);
    height: 150px;
    width: 455px;
    border-color: black;
}

.card1 h3 {
    width: auto;
    margin-left: 20px;
    padding-top: 10px;
}

.card1 ul li {
    list-style: none;
    color: blue;
}

.card2 {
    background-color: rgb(240, 240, 240);
    height: 150px;
    width: 455px;
    border-color: black;
}

.card2 h3 {
    width: auto;
    margin-left: 30px;
    padding-top: 10px;
}

.card2 p {
    width: auto;
    margin-left: 30px;
    justify-content: left;
    margin-right: 30px;
}
